<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494869507219-gtqmrdg6u65nnuvvdrbqrp9t8jkqhddb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494869507219-gtqmrdg6u65nnuvvdrbqrp9t8jkqhddb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>494869507219-vhh3ivitv752p8norn074j4kvqu6i5ep.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxSlDb5RTd_5Ef7q9tL3DyO4GliEG6zQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>494869507219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppCircleCafe</string>
	<key>PROJECT_ID</key>
	<string>appcirclecafe</string>
	<key>STORAGE_BUCKET</key>
	<string>appcirclecafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494869507219:ios:e6120f593494d672ddb166</string>
	<key>DATABASE_URL</key>
	<string>https://appcirclecafe.firebaseio.com</string>
</dict>
</plist>